/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
/*   Nav/heading   */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
  }
  main {
    margin: 1rem 1rem;
  }
  nav {
    background-color: #264653;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 0.8rem 2%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  nav ul.hide {
    display: none;
  }
  
  nav {
    font-family: "Quattrocento Sans", sans-serif;
  }
  
  aside {
    background-color: #002363;
    padding: 0.5rem;
  }
  
  .headings h1 {
    font-size: 1.7rem;
    margin: 0 0 0 17px;
    font-family: 'Acme', sans-serif;
  }
  .headings {
    display: flex;
    flex-direction: column;
  }
  /*   Contact box    */
  .contactbox {
    background-color: #ddf3ff;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
  }
  .social-links img {
    max-width: 40px;
    height: auto;
    width: auto;
    padding: 4px;
  }
  .textandsocial {
    text-align: left;
  }
  /*    3 events home page    */
  .container figure img {
    max-width: 300px;
    text-align: center;
  }
  .container section {
    display: block;
    justify-content:center;
    text-align:center;
    background-color: grey;
    overflow: hidden;
    margin-top: 10px;
    width: auto;
    height: auto;
    border-color: white;
    max-width: 400px;
  }
   /*    Form   */
  body form {
  margin: auto auto;
  max-width: 20rem;
  font-family: "Ubuntu", sans-serif;
  }
  form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem 2%;
  }
  form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
  }
  form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #023e8a;
  font-size: .8rem;
  box-sizing: border-box;
  }
  form label.top input, form label.top select {
  display:block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
  }
  form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
  }
  form input.submitBtn {
  border:none;
  background-color: #002363;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  }
  form label.top input:required {
  border-left: red solid 6px;
  }
  form label.top input:required:valid {
  border-left: rgb(68, 248, 68) solid 6px;
  }

    /*    footer/header    */
    header,
    footer {
      background-color: #2A9D8F;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      color: white;
    }
    footer a {
      color: white;
    }
    footer {
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
    header .headings img {
      float: none;
      width: auto;
      height: 250px;
    }
    header img .colimage {
      float: left;
    }
    /*   fonts    */
    h2,h3 {
      font-family: 'Acme', sans-serif;
      text-align: center;
      font-size: 1.7rem;
    }