@media only screen and (min-width: 60em) {
  div.column {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .colimage {
    width: 97%;
    max-width: 600px;
  }

  section.repetition {
    grid-column: span 1;
  }
}
