main {
  max-width: 767px;
  margin: 0 auto;
  font-size: 0.8rem;
}

div.column {
  display: grid;
}

header,
main,
footer {
  margin: 1.25rem auto;
  font-family: "Mukta", times, serif;
}

h3 {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 53);
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.website1.website2.website3 {
  position: fixed;
}

body header h2 {
  font-size: 7mm;
}

.colimage {
  width: 97%;
}

.column {
  column-gap: 20px;
  border: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  margin-bottom: 120px;
}

header,
footer {
  background-color: #006ae9;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer a {
  color:white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}