body {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #0077b6;
    color: white;
}

h2 {
    color: #023e8a;
}

main section {
    margin-left: 30px;
}

footer {
    border-top: 1px solid #555;
    margin: 0 auto;
    background-color: #0077b6;
    padding: 1em;
    color:white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

section {
    background-color: #ddf3ff;
    padding: 10px;
    margin: 10px;
    max-width: 350px;
}

section img {
    max-width: 270px;
}

@media only screen and (min-width: 700px){
    .cards{
        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (min-width: 1350px){
    .cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}