/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}
main {
  margin: 1rem 1rem;
}
nav {
  background-color: #002363;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
  display: none;
}

nav {
  font-family: "Quattrocento Sans", sans-serif;
}

aside {
  background-color: #002363;
  padding: 0.5rem;
}

.headings h1 {
  font-size: 1.7rem;
  margin: 0 0 0 17px;
}
.headings {
  display: flex;
  flex-direction: column;
}
.m {
  font-style: italic;
  letter-spacing: 1pt;
  color: white;
  margin-left: 20px;
  font-size: 1rem;
}
header,
footer {
  background-color: #0077b6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  color: white;
}

header img {
  width: 180px;
  height: auto;
}

.herodiv img {
  width: auto;
  height: auto;
}

.weathersumary {
  background-color: #ddf3ff;
  padding: 20px;
}

main figure.herophoto img {
  display: block;
  width: 100%;
}


/* -------------- Form ---------------*/
body form {
  margin: auto auto;
  max-width: 20rem;
  font-family: "Ubuntu", sans-serif;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem 2%;
}
form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
}
form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #023e8a;
  font-size: .8rem;
  box-sizing: border-box;
}
form label.top input, form label.top select {
  display:block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}
form input.submitBtn {
  border:none;
  background-color: #002363;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: rgb(68, 248, 68) solid 6px;
}

h1 {
  color: white;
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: #023e8a;
  font-size: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h3 {
  color: #023e8a;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h4 {
  color: #023e8a;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
aside h2 {
  color: white;
  font-size: 1.8rem;
}
.weathersumary p {
  font-family: "Merriweather", serif;
}
body p {
  font-family: "Merriweather", serif;
}

.forcastbox h3 {
  text-align: center;
  padding: 0.8rem;
}
.forcastbox {
  background-color: #ddf3ff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.forcastbox img {
  padding: 20px;
  align-self: center;
}
.column-col {
  text-align: center;
}
.column {
  column-count: 5;
  column-gap: 0;
}

.herodiv img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.articlebox img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.contactbox img {
  max-width: 90%;
  height: auto;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.social-links img {
  max-width: 40px;
  height: auto;
  width: auto;
  padding: 4px;
}
.textandsocial {
  text-align: left;
}
.contactbox {
  background-color: #ddf3ff;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-left: 50px;
}

footer a {
  color: white;
}
footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
